import /vendor/etc/init/hw/init.wifi.rc

on early-init
    loglevel 3

on init

on post-fs-data
    insmod /vendor/lib/modules/mali.ko

on boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/module/decoder_common/parameters/max_di_instance 1
    write /sys/module/amvdec_mh264/parameters/reorder_dpb_size_margin 9
    write /sys/module/amvdec_h265/parameters/dynamic_buf_num_margin 9
    write /sys/module/amvdec_vp9/parameters/max_buf_num 18
